filebeat.inputs:

# Each - is an input. Most options can be set at the input level, so
# you can use different inputs for various configurations.
# Below are the input specific configurations.

- type: log

  # Change to true to enable this input configuration.
  enabled: true

  # Paths that should be crawled and fetched. Glob based paths.
  paths:
  # This is where you put stuff to be sent to logstash
    - /var/log/syslog
    - /var/log/*/*.log
    - /var/log/*.log
    - /home/ubuntu/apache.log
filebeat.config.modules:
  # Glob pattern for configuration loading
  path: ${path.config}/modules.d/*.yml

  # Set to true to enable config reloading
  reload.enabled: false

  # Period on which files under path should be checked for changes
  reload.period: 10s


setup.template.settings:
  index.number_of_shards: 3

setup.dashboards.enabled: true
setup.dashboards.beat:



output.logstash:
  # The Logstash hosts
  hosts: ["http://localhost:{{ logstash_port }}"]
  enabled: true
  #### we use our generated certificates from ELK
  

processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~
