output {
 elasticsearch {
   hosts => ["http://localhost:9200"]
   sniffing => true
   manage_template => false
   index => "%{[agent][hostname]}-%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
   document_type => "%{[@metadata][type]}"
   
 }
 stdout {
    codec => rubydebug
  }
}

